In [1]:
# 1. Import the customer data into python

In [2]:
import pandas as pd
import numpy as np

In [3]:
cust = pd.read_csv("C:/Users/DELL-IN/Downloads/Video/AL/7/Pandas Case Study/3. Pandas Case Study-1/Customers.csv",encoding = "ISO-8859-1")

In [4]:
cust.head()

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.0,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.0,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.0,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.0,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.0,1,60.0,0.0

In [5]:
cust.tail()

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.6,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.5,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.9,11,2242.0,585.0
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.0,1,0.0,310.0
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.0,1,60.0,0.0

In [6]:
#2. Understand the data using different functions and attributes like shape, index, columns, dtypes.ndim, info(), 
#get_dtype_counts etc.

In [7]:
cust.shape

(10000, 14)

In [8]:
cust.size

140000

In [9]:
cust.columns

Index(['Customer_ID', 'Gender', 'First_Date', 'First_region', 'First_state',
       'First_city', 'Recent_Date', 'Last_region', 'Last_state', 'Last_city',
       'Customer_Value', 'Buy_Times', 'Points_Earned', 'Points_Redeemed'],
      dtype='object')

In [10]:
cust.dtypes

Customer_ID          int64
Gender              object
First_Date           int64
First_region        object
First_state         object
First_city          object
Recent_Date          int64
Last_region         object
Last_state          object
Last_city           object
Customer_Value     float64
Buy_Times            int64
Points_Earned      float64
Points_Redeemed    float64
dtype: object

In [11]:
cust.get_dtype_counts()

float64    3
int64      4
object     7
dtype: int64

In [12]:
cust.ndim

2

In [13]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Customer_ID        10000 non-null int64
Gender             9986 non-null object
First_Date         10000 non-null int64
First_region       9979 non-null object
First_state        9983 non-null object
First_city         10000 non-null object
Recent_Date        10000 non-null int64
Last_region        10000 non-null object
Last_state         10000 non-null object
Last_city          10000 non-null object
Customer_Value     9964 non-null float64
Buy_Times          10000 non-null int64
Points_Earned      9979 non-null float64
Points_Redeemed    9988 non-null float64
dtypes: float64(3), int64(4), object(7)
memory usage: 1.1+ MB

In [14]:
#3. What is percentage of missing values for customer Value variable?

In [15]:
a=cust['Customer_Value'].isnull().sum()
#b=cust['Customer_Value'].count()
b=len(cust)
print(a)
print(b)
print((a/b)*100)

36
10000
0.36

In [16]:
#4. Create two subsets with unique and duplicate values.

In [17]:
#5. Create data set with list of customers whose customer value greater than 10000.

In [18]:
cust[cust.Customer_Value>10000]

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
30,328670,M,20120115,North,Delhi,Delhi,20130302,North,Delhi,Delhi,10547.79600,11,574.0,2120.0
31,237645,M,20120117,North,Madhya Pradesh,Indore,20130318,North,Madhya Pradesh,Indore,173171.70000,34,12737.0,0.0
32,36292837,M,20120118,West,Gujarat,Surat,20130313,West,Gujarat,Surat,18412.20000,19,158.0,1260.0
35,73792250,M,20120128,West,Gujarat,Surat,20130305,West,Gujarat,Surat,29460.00000,6,2440.0,0.0
37,73957360,M,20120129,West,Gujarat,Surat,20130306,West,Gujarat,Surat,28291.29800,29,225.0,1886.0
38,8068420,F,20120131,North,Uttar Pradesh,Kanpur,20130224,South,Tamil Nadu,Chennai,11316.00100,6,684.0,267.0
39,3021033,M,20120131,South,Karnataka,Bangalore,20130218,South,Karnataka,Bangalore,48674.40100,6,244.0,2270.0
40,5912830,F,20120202,East,West Bengal,South Dumdum,20130318,East,Jharkhand,Dhanbad,15478.00000,9,1895.0,0.0
42,9046409,M,20120206,West,Maharashtra,Mumbai,20130327,West,Maharashtra,Mumbai,20520.80000,13,641.0,780.0
43,93630,M,20120208,West,Gujarat,Surat,20130202,West,Gujarat,Surat,11148.00000,7,960.0,0.0
44,85323066,F,20120208,West,Maharashtra,Mumbai,20130202,West,Maharashtra,Mumbai,41852.79800,16,1453.0,415.0
45,303753,M,20120208,North,Madhya Pradesh,Indore,20130321,North,Madhya Pradesh,Indore,54342.00000,32,2061.0,9320.0
46,49886011,F,20120208,West,Maharashtra,Mumbai,20120518,South,Karnataka,Bangalore,15092.80000,5,1381.0,0.0
50,85613515,M,20120213,West,Gujarat,Surat,20130312,West,Gujarat,Surat,37192.00100,13,1837.0,540.0
53,55802349,F,20120224,West,Gujarat,Ahmedabad,20130225,West,Gujarat,Ahmedabad,15695.50000,9,983.0,0.0
54,84874275,M,20120224,West,Maharashtra,Pimpri-Chinchwad,20130322,West,Maharashtra,Pimpri-Chinchwad,107078.39900,37,4083.0,0.0
55,6898330,F,20120227,West,Gujarat,Surat,20130308,West,Gujarat,Surat,20211.90000,17,1205.0,0.0
57,113932157,F,20120302,West,Gujarat,Surat,20130201,West,Gujarat,Surat,32085.69800,16,537.0,2401.0
58,1747708,F,20120303,South,Karnataka,Bangalore,20130324,North,Madhya Pradesh,Indore,18881.78574,14,588.0,2481.0
59,2780625,M,20120303,West,Gujarat,Surat,20130124,West,Gujarat,Surat,16471.90100,9,555.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9939,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9942,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9943,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9945,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9958,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9964,74054076,F,20120110,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9966,63594593,M,20120112,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9967,87998623,M,20120112,East,West Bengal,Durgapur,20130228,North,Uttar Pradesh,Kanpur,24378.00000,9,1506.0,0.0
9969,88068705,M,20120116,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0

In [19]:
#6. In customer table, create a new variable called “customer value segment” using customer value as follows. -  
#- High Value Segment - > 25000  
#- Medium Value Segment – Between 10000 and 25000  
#- Low Value Segment – less than or equal to 10000

In [20]:
cust['customer_value_segment']=pd.cut(cust['Customer_Value'],bins=[0,10000,25000,(cust['Customer_Value'].max())],labels=['Low Value Segment','Medium Value Segment','High Value Segment'])

In [21]:
cust.head(20)

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,customer_value_segment
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.000,2,200.0,0.0,Low Value Segment
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.000,1,100.0,0.0,Low Value Segment
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.000,1,10.0,0.0,Low Value Segment
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.000,1,170.0,0.0,Low Value Segment
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.000,1,60.0,0.0,Low Value Segment
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.900,1,1140.0,0.0,Low Value Segment
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.000,1,79.0,0.0,Low Value Segment
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.000,1,360.0,0.0,Low Value Segment
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.000,2,190.0,0.0,Low Value Segment
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.800,3,145.0,0.0,Low Value Segment
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.000,1,35.0,0.0,Low Value Segment
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.000,5,294.0,0.0,Low Value Segment
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.497,10,639.0,2.0,Low Value Segment
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.600,5,609.0,0.0,Low Value Segment
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.199,6,1189.0,0.0,Medium Value Segment
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.000,6,865.0,0.0,Medium Value Segment
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.000,1,115.0,0.0,Low Value Segment
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.300,5,485.0,0.0,Low Value Segment
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.702,36,680.0,16635.0,High Value Segment
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.700,12,268.0,2549.0,Medium Value Segment

In [22]:
#7. Create variables “average revenue per trip” and “balance points” in the customer data set.

In [23]:
cust['average_revenue_per_trip']=cust['Customer_Value']/cust['Buy_Times']
cust['balance_points']=cust['Points_Earned']-cust['Points_Redeemed']

In [24]:
cust.head(20)

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,customer_value_segment,average_revenue_per_trip,balance_points
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.000,2,200.0,0.0,Low Value Segment,1016.000000,200.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.000,1,100.0,0.0,Low Value Segment,1709.000000,100.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.000,1,10.0,0.0,Low Value Segment,523.000000,10.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.000,1,170.0,0.0,Low Value Segment,5132.000000,170.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.000,1,60.0,0.0,Low Value Segment,1008.000000,60.0
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.900,1,1140.0,0.0,Low Value Segment,2606.900000,1140.0
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.000,1,79.0,0.0,Low Value Segment,1369.000000,79.0
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.000,1,360.0,0.0,Low Value Segment,5690.000000,360.0
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.000,2,190.0,0.0,Low Value Segment,1277.500000,190.0
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.800,3,145.0,0.0,Low Value Segment,892.600000,145.0
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.000,1,35.0,0.0,Low Value Segment,855.000000,35.0
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.000,5,294.0,0.0,Low Value Segment,1193.800000,294.0
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.497,10,639.0,2.0,Low Value Segment,914.249700,637.0
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.600,5,609.0,0.0,Low Value Segment,1603.920000,609.0
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.199,6,1189.0,0.0,Medium Value Segment,1730.033167,1189.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.000,6,865.0,0.0,Medium Value Segment,2431.166667,865.0
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.000,1,115.0,0.0,Low Value Segment,1011.000000,115.0
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.300,5,485.0,0.0,Low Value Segment,1213.060000,485.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.702,36,680.0,16635.0,High Value Segment,4040.908389,-15955.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.700,12,268.0,2549.0,Medium Value Segment,1636.725000,-2281.0

In [25]:
#8. How many days between last purchase date and today?

In [26]:
cust['First_Date'] = pd.to_datetime(cust['First_Date'], format='%Y%m%d')

In [27]:
cust['Recent_Date'] = pd.to_datetime(cust['Recent_Date'], format='%Y%m%d')

In [28]:
cust.dtypes

Customer_ID                          int64
Gender                              object
First_Date                  datetime64[ns]
First_region                        object
First_state                         object
First_city                          object
Recent_Date                 datetime64[ns]
Last_region                         object
Last_state                          object
Last_city                           object
Customer_Value                     float64
Buy_Times                            int64
Points_Earned                      float64
Points_Redeemed                    float64
customer_value_segment            category
average_revenue_per_trip           float64
balance_points                     float64
dtype: object

In [29]:
cust.head()

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,customer_value_segment,average_revenue_per_trip,balance_points
0,129609144,M,2013-01-30,West,Gujarat,Surat,2013-02-16,West,Gujarat,Surat,2032.0,2,200.0,0.0,Low Value Segment,1016.0,200.0
1,129627580,M,2013-01-29,North,Delhi,Delhi,2013-01-29,North,Delhi,Delhi,1709.0,1,100.0,0.0,Low Value Segment,1709.0,100.0
2,130363481,M,2013-02-21,West,Gujarat,Surat,2013-02-21,West,Gujarat,Surat,523.0,1,10.0,0.0,Low Value Segment,523.0,10.0
3,49817480,M,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,5132.0,1,170.0,0.0,Low Value Segment,5132.0,170.0
4,126343829,F,2013-03-01,North,Delhi,Delhi,2013-03-01,North,Delhi,Delhi,1008.0,1,60.0,0.0,Low Value Segment,1008.0,60.0

In [30]:
cust['minus']=cust['Recent_Date']-cust['First_Date']

In [31]:
cust.head()

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,customer_value_segment,average_revenue_per_trip,balance_points,minus
0,129609144,M,2013-01-30,West,Gujarat,Surat,2013-02-16,West,Gujarat,Surat,2032.0,2,200.0,0.0,Low Value Segment,1016.0,200.0,17 days
1,129627580,M,2013-01-29,North,Delhi,Delhi,2013-01-29,North,Delhi,Delhi,1709.0,1,100.0,0.0,Low Value Segment,1709.0,100.0,0 days
2,130363481,M,2013-02-21,West,Gujarat,Surat,2013-02-21,West,Gujarat,Surat,523.0,1,10.0,0.0,Low Value Segment,523.0,10.0,0 days
3,49817480,M,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,5132.0,1,170.0,0.0,Low Value Segment,5132.0,170.0,0 days
4,126343829,F,2013-03-01,North,Delhi,Delhi,2013-03-01,North,Delhi,Delhi,1008.0,1,60.0,0.0,Low Value Segment,1008.0,60.0,0 days

In [32]:
#9. Calculate percentage of sales by each last city, state and region.

In [42]:
b=cust.groupby(['Last_city'])[['Customer_Value']].sum().sum()
cust.groupby(['Last_region','Last_state','Last_city'])[['Customer_Value']].sum()/b * 100

#b.apply(lambda x: x * 100/x.sum())
#dont know

                                                Customer_Value
Last_region Last_state        Last_city
East        Assam             Guwahati                1.557344
            Bihar             Begusarai               0.020559
                              Bhagalpur               0.002230
                              Katihar                 0.046883
                              Patna                   0.185101
                              Purnia                  0.005867
            Jharkhand         Dhanbad                 0.197452
                              Jamshedpur              0.002848
                              Ranchi                  0.045349
            Tripura           Agartala                0.018824
            West Bengal       Asansol                 0.003035
                              Baranagar               0.015954
                              Barasat                 0.004028
                              Bhatpara                0.063541
                              Howrah                  0.017803
                              Kolkata                 5.573430
                              North Dumdum            0.022836
                              Panihati                0.005539
                              Rajpur Sonarpur         0.001733
                              Siliguri                0.008303
North       Chandigarh        Chandigarh              0.032769
            Chhattisgarh      Korba                   0.002229
                              Raipur                  0.003093
            Delhi             Delhi                   8.581290
                              Karawal Nagar           0.007829
                              New Delhi               0.002128
            Haryana           Gurgaon                 0.126261
                              Karnal                  0.002138
                              Sonipat                 0.013100
            Jammu and Kashmir Srinagar                0.004879
...                                                        ...
South       Tamil Nadu        Chennai                 4.401183
                              Madurai                 0.109663
                              Nagercoil               0.005092
                              Salem                   0.024825
                              Thoothukudi             0.041887
                              Tirunelveli             0.006834
                              Tiruvottiyur            0.011947
            Telangana         Hyderabad               3.806798
                              Karimnagar              0.005459
                              Khammam                 0.000783
                              Warangal                0.008033
West        Gujarat           Ahmedabad               6.063446
                              Gandhidham              0.001671
                              Jamnagar                0.070837
                              Rajkot                  3.641762
                              Surat                  24.816565
                              Vadodara                2.985721
            Maharashtra       Ambernath               0.003868
                              Aurangabad              0.077173
                              Bhiwandi                0.003119
                              Ichalkaranji            0.028583
                              Mira-Bhayandar          0.190272
                              Mumbai                  5.090910
                              Nagpur                  1.690925
                              Nashik                  0.737115
                              Navi Mumbai             0.010617
                              Pimpri-Chinchwad        3.314578
                              Thane                   0.237204
                              Ulhasnagar              0.005667
                              Vasai-Virar             0.085952

[116 rows x 1 columns]

In [34]:
#10. What is the count of customers, average number of purchases and average purchase transaction value by last state 
#and city.

In [35]:
cust[['First_state','First_city','average_revenue_per_trip','Customer_ID']].groupby(['First_state','First_city']).agg({'average_revenue_per_trip':['sum'], 'Customer_ID': 'count' })

                             average_revenue_per_trip Customer_ID
                                                  sum       count
First_state    First_city
Andhra Pradesh Guntur                    9.460385e+03           7
               Kadapa                    2.904763e+03           1
               Kurnool                   3.665800e+03           1
               Nellore                   2.067867e+03           1
               Rajahmundry               5.267500e+02           1
               Vijayawada                2.251067e+04          16
               Visakhapatnam             2.690896e+05         114
Assam          Guwahati                  4.676234e+04          24
Bihar          Bhagalpur                 6.234750e+03           3
               Gaya                      8.485857e+03           1
               Muzaffarpur               9.760000e+02           1
               Patna                     2.910122e+04          14
Chandigarh     Chandigarh                9.927200e+03           5
Chhattisgarh   Bhilai                    4.329167e+03           2
               Bilaspur                  1.000000e+03           1
               Korba                     9.726000e+02           1
               Raipur                    9.393333e+02           1
Delhi          Delhi                     2.070945e+06        1039
Gujarat        Ahmedabad                 1.256466e+06         626
               Jamnagar                  4.355042e+03           3
               Junagadh                  1.885000e+03           1
               Rajkot                    5.220773e+05         230
               Surat                     4.517540e+06        2108
               Vadodara                  1.032447e+06         392
Haryana        Gurgaon                   2.177875e+03           2
               Rohtak                    3.839750e+03           1
Jharkhand      Bokaro                    6.604500e+02           1
               Dhanbad                   2.337088e+04          16
               Jamshedpur                1.710000e+03           1
               Ranchi                    5.324536e+03           4
...                                               ...         ...
Tamil Nadu     Tirunelveli               2.543812e+03           1
Telangana      Hyderabad                 9.624013e+05         380
Tripura        Agartala                  5.905628e+03           3
Uttar Pradesh  Agra                      2.555779e+04          15
               Aligarh                   1.934583e+03           2
               Allahabad                 1.350833e+03           1
               Firozabad                 2.598040e+03           2
               Ghaziabad                 2.846376e+04          24
               Gorakhpur                 2.078963e+03           2
               Kanpur                    2.282914e+06         845
               Loni                      1.088750e+03           1
               Lucknow                   4.262382e+05         218
               Mathura                   4.063526e+03           2
               Meerut                    5.594107e+03           4
               Muzaffarnagar             1.030333e+03           1
               Noida                     2.111444e+03           1
               Rampur                    2.480949e+03           1
               Shahjahanpur              1.837391e+03           1
Uttarakhand    Dehradun                  1.326120e+03           1
West Bengal    Asansol                   4.567677e+03           2
               Bhatpara                  4.855550e+03           2
               Durgapur                  2.708667e+03           1
               Gopalpur                  4.440267e+03           1
               Howrah                    3.524067e+03           3
               Kamarhati                 2.063250e+03           1
               Kolkata                   1.164824e+06         550
               Maheshtala                1.021000e+03           1
               Panihati                  7.594750e+02           1
               Siliguri                  1.510858e+04           4
               South Dumdum              1.719778e+03           1

[103 rows x 2 columns]